# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=db_poll

# Server Configuration
PORT=8080
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# JWT Configuration
JWT_SECRET=your-secret-key-change-in-production

# SendGrid Configuration (Email Provider)
SMTP_PROVIDER=sendgrid
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=YVX8qJ6H9fu1e1ohVbcxAlvE7RZRDEt7
SMTP_PASS=SG.{YVX8qJ6H9fu1e1ohVbcxAlvE7RZRDEt7y}
SMTP_FROM_EMAIL=noreply@liberty.local
SMTP_FROM_NAME=THOMAS.COM
SMTP_TLS=true
RECOVERY_CODE=MGUQ3YEH1JCSV393CF7ECRDD

# Cloudinary Configuration (Media Storage)
CLOUDINARY_CLOUD_NAME=usef4fez
CLOUDINARY_API_KEY=285899995381256
CLOUDINARY_API_SECRET=g9vash13W0eVc0urysibwKeSlno

# Cloudinary Configuration (Media Storage)
CLOUDINARY_CLOUD_NAME=usef4fez
CLOUDINARY_API_KEY=285899995381256
CLOUDINARY_API_SECRET=g9vash13W0eVc0urysibwKeSlno

# ---- Social / platform links ----
YOUTUBE_CHANNEL_URL=https://www.youtube.com/@1847Liberty
FACEBOOK_PAGE_URL=https://facebook.com
X_PAGE_URL=https://x.com
INSTAGRAM_PAGE_URL=https://instagram.com
WHATSAPP_ACCOUNT=https://whatsapp.com
TIKTOK_PAGE_URL=https://tiktok.com
GMAIL_ACCOUNT=robusttechnologyliberia@gmail.com
