HOST=0.0.0.0
PORT=1337
APP_KEYS=replace-with-four-unique-secret-keys
API_TOKEN_SALT=replace-with-a-secret
ADMIN_JWT_SECRET=replace-with-a-secret
TRANSFER_TOKEN_SALT=replace-with-a-secret
JWT_SECRET=replace-with-a-secret
CLIENT_URL=http://localhost:5173
